.u-section-1 .u-sheet-1 {
  min-height: 617px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 493px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 36px;
}

.u-block-6faa-45 {
  height: 46px;
}

.u-section-1 .u-table-cell-2 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-3 {
  margin-top: 20px;
}

.u-block-6faa-54 {
  height: 46px;
}

.u-section-1 .u-image-1 {
  width: 210px;
  height: 210px;
  margin: -301px auto 0 53px;
}

.u-section-1 .u-text-1 {
  margin: -142px 186px 0 307px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -82px 84px 0 694px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 49px 24px 0 683px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -34px 331px 0 386px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -44px 475px 0 307px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.8125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: normal;
  margin: 6px 168px 0 auto;
  padding: 9px 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.8125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -43px 40px 0 auto;
  padding: 9px 10px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 10px 538px 0 53px;
}

.u-section-1 .u-table-2 {
  width: 47px;
  margin: -238px 29px 0 auto;
}

.u-block-6faa-96 {
  height: 46px;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-block-6faa-101 {
  height: 46px;
}

.u-section-1 .u-table-3 {
  width: 346px;
  margin: 182px auto 0 53px;
}

.u-block-6faa-80 {
  height: 46px;
}

.u-section-1 .u-table-body-3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.u-block-6faa-85 {
  height: 46px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.8125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: normal;
  margin: -56px 294px 0 auto;
  padding: 17px 10px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 152px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 30px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-table-4 {
  width: 296px;
  margin: -53px 0 0 auto;
}

.u-block-6faa-58 {
  height: 46px;
}

.u-section-1 .u-table-body-4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-icon-4 {
  color: rgb(35, 47, 62) !important;
}

.u-block-6faa-34 {
  height: 46px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.8125rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 118px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 113px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 11px;
    margin-left: 621px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 560px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 258px;
    margin-left: 313px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 402px;
    margin-left: 234px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 444px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 147px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-1 .u-table-4 {
    width: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 32px;
    margin-left: 153px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 471px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 399px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 177px;
    margin-left: 232px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 321px;
    margin-left: 153px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 283px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-1 .u-table-4 {
    width: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 77px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 221px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 83px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 178px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 3rem;
  text-transform: none;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 69px 0 209px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 233px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 71px;
  width: 71px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px -17px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 71px;
  width: 71px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px -17px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 71px;
  width: 71px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 20px -17px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 46px auto 49px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-text-2 {
    width: 722px;
    margin-left: 78px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    min-height: 192px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 441px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}